body {
    background: #36399a;    
}
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
.hidden {
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #1c1b72;
}
h1 {
    font-size: 1.5rem;    
    
}
.navbar {
    background: #36399a; 
}
.bg-theme {    
    border-bottom: 3px solid #7175DB;
}
.btn-theme {
    background: #7175DB;
    color: #fff;
}
.btn-theme:hover {
    color: #1c1b72;
    font-weight: bold;
}
.logo-text {
    font-family: 'Sonsie One', cursive;
    color: #fff;
    font-size: 2rem;
    padding-left: 5px;
   
}
.icons {
    position: relative;
}
.fa-fire {
    position: absolute;
    right: 20px;
    top: 4px;
}
.fa-fire.hideFire {
    color: #36399a;
}
.fa-fire.deactive {
    color: #7175DB;
    opacity: .2;
}
@keyframes onfire {
    from {text-shadow: -2px -2px 5px #ce2029; font-size: 1.5em;}
    to {text-shadow: 0; font-size: 1.33333em;}
    
}
@keyframes floatScore {
    0% { right: 20px;}
    100% { right: 70px;}
    
}
.scoreAnim {
    color: #36399a;    
    position: relative;
    right: 20px;
}
.floatScore {
    color: #39FF14;
    animation-name: floatScore;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.fa-fire.heatLo {
    color: #FED030;  
}
.fa-fire.heatMed {
    color: #FD5D00;  
}
.fa-fire.heatHi {
    color: #ce2029;    
    animation-name: onfire;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.fa-question-circle {
    cursor: pointer;
    color: #fff;
}
#main-content {
    height: 800px;
}
#splash, #endRound, #endGame, #leaderboard, #newHighScore {
    width: 320px;
    margin: 20px auto;
    border: 1px solid #f4f4f4;
    text-align: center;
    padding: 1.5rem;
    background: #fff;
    border-radius: 10px;
}
#newHighScore h1 {
    font-family: 'Erica One', cursive;
}
.hsOutline {
    text-shadow:
    -1px -1px 0 #1c1b72,
    1px -1px 0 #1c1b72,
    -1px 1px 0 #1c1b72,
    1px 1px 0 #1c1b72;  
}
.hsRed {
    color: #ED2939;    
}
.hsYellow {
    color: #FED030;    
}
#newHighScore p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #1c1b72; 
}
#newHighScore input {
    font-family: 'Prompt', sans-serif;
    width: 200px;
    color: #1c1b72;
    font-weight: bold;
    font-size: 1.1rem;
}
.charLimit {
    font-size: .75rem;
}
.timerRow {
    position: relative;
}
#timer {
    position: absolute;
    background: #fff;
    border: 2px solid #1c1b72;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #1c1b72;
    font-weight: bold;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 70px; 
    right: 0;
}
.categoryBtn {
    text-transform: capitalize;
}
.answers {
    max-width: 300px;   
    border-radius: 50px;  
    position: relative;
    background: #7175DB;
    color: #fff;
    font-weight: bold; 
    cursor: pointer;
}
.wrong {
    color: #ED2939;
    text-decoration: line-through; 
}
.correct, .correct::before {
    color: green;
}
.unanswered, .unanswered::before {
    color: #39FF14;
}
.correct::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";    
    font-size: 1.5rem;
    position: absolute;
    right: 8px;
    bottom: 3px;
  }
.wrong::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f057";
    color: #ED2939;
    font-size: 1.5rem;
    position: absolute;
    right: 8px;
    bottom: 3px;
  }
.highlight {
    background: #ccc;
    color: #36399a;
  }
.badge-theme {
    color: #fff;
    background-color: #36399a;
}
.tally {
    width: 150px;
    color: #1c1b72;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
#gameContentWrapper {
    min-height: 600px;
}
#score, #finalScore{
    font-size: 4rem;
}
#endRound h1, #endGame h1, #leaderboard h1  {
    font-family: 'Sonsie One', cursive;
}
#leaderboard table  {
    color: #1c1b72;
    font-family: 'Prompt', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}
.rank {
    font-family: 'Sonsie One', cursive;
}
.playerName {
    min-width: 158px;
}
.playerScore {
    min-width: 51px;
}
.finalAnswer {
    max-width: 300px;
}
.footer {   
    width: 100%;
    height: 60px;    
    background-color: #36399a;
    text-align: center;   
    margin-top: 100px;
    
}
.modal-title {
    
}